*{
margin:0;
padding:0;
}
body{
 background:#fff url(../img/bg.gif) repeat;
  color:rgba(120,123,125,1);   
}
header{
    font-size:2.5em;
    background:rgba(166,44,44,1);
    text-align:center;
    color:#fff;
    padding:40px;
    text-shadow:2px 5px rgba(0,0,0,1);
}
nav ul{
    background:rgba(126,44,44,1);
    padding:2px;
}
nav ul li,nav ul li a{
    color:#fff;
    display:inline-block;
}
nav ul li a:link, nav ul li a:visited{
 padding:20px;
 text-decoration:none;
 font-family:georgia;
 text-transform:capitalize;
 transition:0.8s;
 -o-transition:0.8s;
 -webkit-transition:0.8s;
 -ms-transition:0.8s;
 -moz-transition:0.8s;
}
nav ul li a:hover, nav ul li a:active{
    background:rgba(169,61,61,1);
}
main{
    width:95%;
    border:1px solid #ccc;
    margin:20px;
}
article {
 background:rgba(241,241,241,1);
  border:1px solid #ccc;
  width:65%;
  padding:20px;
  float:left;
}
article h1{
   color:rgba(97,92,92,1); 
}
article img{
 width:70%;   
}
article p {
 color:rgba(120,123,125,1);   
}
article p span {
 color:rgba(48,48,48,1);   
}
article a{
 color:rgba(211,84,0,1);   
 display:block;
 text-align:right;
 padding :0 40px 0 0;
 text-decoration:none;
}
article a:hover{
 color:rgba(211,84,0,.6);  
}
aside{
 width:27%;
 float:right;
}
aside .side, aside .recent{
    border:1px solid #ccc;
    background:rgba(241,241,241,1);
    color:rgba(211,84,0,1);
    padding:20 px;
    margin-bottom:20px;
}
aside .recent li{
 background:rgba(230,230,230,1);   
 border:none;
 border-radius:5px;
 padding-bottom:5px;
 margin-bottom:5px;
 text-transform:uppercase;
}
aside a {
 color:rgba(0,0,0,1);
 text-decoration:none;
}
aside a:hover {
 color:rgba(0,0,0,.6);
}
aside ul li{
 list-style:none;
 background:url(../img/arrow.png) -4px 8px  no-repeat;
 padding:5px 0 0 5px;
 border-bottom:1px dotted #ccc;
}
form{
 width:65%;
 float:left;
}
input{
 background:rgba(0,0,0,0) !important;   
 outline:none !important;
}
input[type="text"]{
 width:60%;   
 display:block;
 border:none;
 padding:2px 20px;
}
input[type="submit"]{
    float:right;
    padding:10px 20px;
 margin:10px 15px 10px auto;
}
textarea{
    width:95%;
 display:block;
 border:none;
 outline:none !important;
  background:rgba(0,0,0,0) !important; 
  min-height:200px;
   border-bottom:1px dotted #ccc;
    padding:20px;
}
input[type="text"]:focus,textarea:focus{
    box-shadow:0 0 10px rgba(0,0,0,1);
}
.cntcinfo{
    float:right;
    width:28%;
    border-left:1px solid #ccc;
    min-height:250px;
    padding:10px;
    line-height:1.5em;
}
.cntctinfo span{
    line-height:1em;
    display:block;
}
footer{
 font-size:.8em;
 padding:40px;
 background:rgba(166,44,44,1);
 text-align:center;
 color:#fff;
}
.clear{
 clear:both;   
}