{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rural Development Project</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
</head>
<body>
<div class="container">
  <div class="toppane">
    <center>
        <h1>Farmer Digitisation</h1>
    </center>
  </div>
  <div class="leftpane">
    <center>
        <h2>Farmer</h2>
    </center>
  </div>
  <div class="middlepane">
    <center>
      <h2>Middleman</h2>
    </center>
  </div>
  <div class="rightpane">
    <center>
        <h2>Admin</h2>
    </center>
  </div>
</div>
</body>
</html>